/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include md {
    padding: 10px 30px;
  }
  & + .btn {
    @include md {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $color-secondary;
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: $color-secondary-light;
  }
}

.error {
  background-color: $color-error;
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: $color-error-light;
  }
}

.info {
  background-color: $color-info;
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: $color-info-light;
  }
}

.success {
  background-color: $color-success;
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: $color-success-light;
  }
}

.warning {
  background-color: $color-warning;
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: $color-warning-light;
  }
}
  